<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="Natsuka Kanamori">
<meta name="description" content="プリザーブドフラワーならこちらへ">
<meta name="viewport" content="width=device-width, initial-scale-1,0">
<link href="../css/form_watanabe.css" media="all" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap" rel="stylesheet">
<title>Prism.Flower</title>
</head>
<body>
<header>
<h1>Prism.Flower</h1>
</header>

<nav>
<ul>
<li><a href="index2.html">TOP</a></li>
<li><a href="item2.html">ITEM</a></li>
<li><a href="map2.html">MAP</a></li>
<li><a href="form2.html">FORM</a></li>
</ul>
</nav>

<div class="form_table">
<main>
<h4>お問い合わせ</h4>
<form action="" method="post">
<fieldset>
<table>
<tr>
<th><label for="rendou">name：</label></th>
<td><input id= "rendou" type="text" name="yourname" placeholder="Your Name" required></td>
</tr>
<tr>
<th><label for="mail">email：</label></th>
<td><input id="mail" type="email" name="mail" placeholder="sample@xxx.com" required></td>
</tr>
<tr>
<th><label for="comment">comment：</label></th>
<td><textarea id="comment" name="comment" placeholder="Please enter your question"></textarea></td>
</tr>
</table>
<p><input type="submit" value="submit"></p>
</fieldset>
</form>
</main>
</div>

<br>

<footer>
<p>Copyright 2021 Natsuka Kanamori</p>
</footer>

</body>
</html>

