<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="viewport" content="width=device-width,initial-scale=1">
<title>sample</title>
</head>

<body>

<header>
<div class=container>
<h1>タイトル</h1>
<h2>サブタイトル</h2>
</div>
</header>

<main>
<section>
</section>
</main>

<footer>
</footer>

<script>
'use strict';

const answer = window.prompt('ヘルプを見ますか？');
if (answer === 'yes'){
	window.alert('タップでジャンプ、障害物を避けます。');
}else if(answer === 'no'){
	window.alert('ゲーム起動中…');
}else{
	window.alert('yesかnoでお答えください。');
}
</script>

</body>
</html>