<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/sample4.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../js/sample4.js"></script>
<title>sample</title>
</head>
<body>
<header>
  <h1>2021/4/19 Javascript実習</h1>
</header>

<p id="textColor">こんにちは</p>

<div class = "submenu">
  <h2>TOP MENU</h2>
    <ul class = "hidden">
      <li><a href="">概要</a></li>
      <li><a href="">詳細</a></li>
      <li><a href="">問い合わせ</a></li>
    </ul>
</div>

<div id="slideshow" class="slideshow">
	<img src="../img/rain1.jpg">
	<img src="../img/rain2.jpg">
	<img src="../img/rain3.jpg">
</div>

</body>
</html>